template(name="paginator")
	.ui.small.right.floated.pagination.menu
		if compare counter 'gt' 0
			a.icon.item.changePage(data-tooltip="Primeira página",data-inverted="",href="?page=1")
				i.icon.chevron.left
		each paginatorHelper counter=counter
			a.item.changePage(class="#{active} #{disabled}",href="?page=#{page}") #{page}
		if compare counter 'gt' 0
			a.icon.item.changePage(data-tooltip="Última página",data-inverted="",href="#{lastPage count=count}")
				i.icon.chevron.right
		if compare counter 'eq' 0
			a.item Nenhum
		else
			if text
				a.item Nenhum
			else
				a.item #{count}
